{% extends '../base.html' %}
{% block js %}
<script src="/js/external/webrtc.io.js"></script>
<script>
  // note: make sure hostname available to all connecting clients
  // (ie. probably not `localhost`)
  window.gamePlayerId = "b553a1cf-2e69-4259-9633-3b6d5b8ff129";
  rtc.connect('ws://spargame.com:8001', "someroom");

  rtc.createStream({
    "video" : true,
    "audio" : false
  }, function(stream) {
    // get local stream for manipulation
    rtc.attachStream(stream, 'local');
  });

  rtc.on('remote-b553a1cf-2e69-4259-9633-3b6d5b8ff129', function(stream) {
    // show the remote video
    rtc.attachStream(stream, 'remote');
  });

  // more rtc callbacks are available
</script>
{% endblock %}
{% block body %}
  <video id="local" autoplay="autoplay"></video>
  <video id="remote" autoplay="autoplay"></video>
{% include "elements.html" %}
{% endblock %}
{% block readyJs %}
{% include "../../public/js/game/gameNotifications.js" %}
{% endblock %}