<!DOCTYPE html>
<html>
<head>
<script src="/js/external/webrtc.io.js"></script>
<script>
  // note: make sure hostname available to all connecting clients
  // (ie. probably not `localhost`)
  rtc.connect('ws://spargame.com:8001');

  rtc.createStream({
    "video" : true,
    "audio" : false
  }, function(stream) {
    // get local stream for manipulation
    rtc.attachStream(stream, 'local');
  });

  rtc.on('add remote stream', function(stream) {
    // show the remote video
    rtc.attachStream(stream, 'remote');
  });

  // more rtc callbacks are available
</script>
</head>
<body>
	<video id="local" autoplay="autoplay"></video>
	<video id="remote" autoplay="autoplay"></video>
</body>
</html>