{% extends "../base.html" %}
{% block css %}
<link href="css/animations/rainimation.css" rel="stylesheet">
{% endblock %}
{% block sidebar %}
<div class="menu" style="margin-top: 20px;">
  <ul class="nav nav-tabs nav-stacked">
    <li><a id="singlePlayer" href="/createGame">Single Player</a></li>
    <li><a href="#">Browse Games</a></li>
    <li><a href="#">Create Game</a></li>
  </ul>
</div>
{% endblock %}
{% block body %}
{% include "availableGames.html" %}
{% include "fallingSpades.html" %}
{% endblock %}
{% block js %}
<script src="js/home/homeAnimations.js"></script>
<script>
$(document).ready(function() {
	$(".falling").draggable();
});
</script>
{% endblock %}
